@font-face {
    font-family: 'Gabriola';
    src: url('/fonts/Gabriola.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

/* Estilo do fundo fixo */
html, body {
    /* background-image: url('/images/fundo_purple.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%; */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o padding padrão */
    font-family: 'Gabriola', serif;
    box-sizing: border-box;
}

/* Estilo do conteúdo */
main {
    position: relative; /* Garante que o conteúdo seja colocado acima do fundo */
    z-index: 1; /* Coloca o conteúdo acima do fundo */
    padding: 2.5em 2em; /* Ajusta o espaçamento dentro do conteúdo */
    width: 100%;
    
}

/* Estilo geral do cabeçalho */
header {
    background-color: rgba(219, 186, 243, 0.9); /* Fundo transparente */
    padding: 1em 2em; /* Ajuste o padding para o cabeçalho */
    width: 100%; /* Garante que o cabeçalho ocupe toda a largura da tela */
    z-index: 1000; /* Garante que o cabeçalho fique sobre o conteúdo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
    position: fixed;
}

h1, h2, h3 .highlight {
    font-family: 'Ephesis', cursive;
    font-weight: lighter;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Ocupa toda a altura da tela */
    /* overflow: hidden; */
    z-index: -1;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o vídeo */
    min-width: 100vw; /* Garante que cubra a largura da tela */
    min-height: 100vh; /* Garante que cubra a altura da tela */
    object-fit: contain; /* Ajusta o vídeo para cobrir o espaço sem distorção */
}

/* Estilo da barra de navegação */
.navbar {
    display: flex;
    justify-content: center; /* Centraliza os links */
    align-items: center; /* Alinha verticalmente os itens */
    z-index: 10; /* Garante que fique acima do fundo */
}

/* Estilo do ícone de hambúrguer */
.hamburger-menu {
    display: none; /* Inicialmente escondido em telas maiores */
    flex-direction: column;
    cursor: pointer;
    justify-content: center; /* Alinha as barras ao centro */
    align-items: center; /* Alinha as barras ao centro */
    height: 30px; /* Altura para centralizar as barras */
}

.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    margin: 3px 0;
    background-color: #333;
}

/* Estilo da lista de links */
.navbar-links {
    list-style: none; /* Remove a lista padrão */
    display: flex; /* Exibe os links em linha */
    padding: 0; /* Remove o padding padrão */
    margin: 0; /* Remove a margem padrão */
}

/* Estilo dos links */
.navbar-links li {
    margin: 0 15px; /* Espaço entre os links */
}

.navbar-links a {
    text-decoration: none; /* Remove o sublinhado */
    color: #333; /* Cor do texto */
    font-size: 1.2em; /* Tamanho da fonte */
    padding: 5px 10px; /* Espaçamento interno para os links */
}

/* Alteração de cor quando o link é hover */
.navbar-links a:hover {
    background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
    border-radius: 5px; /* Borda arredondada */
}

.hero-section {
    text-align: center;
}

.display-1 {
    font-size: 5em;
    margin-bottom: 0.2em;    
}

.display-2 {
    font-size: 5em;
    margin-top: 0;
}

.hero-section img {
    width: 50%; /* Ajusta a largura para 50% do container */
    max-width: 500px; /* Limita a largura máxima */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Borda arredondada opcional */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra opcional */
}

.home-section {
    text-align: center;
    padding-top: 2em;
}

.display-3 {
    font-size: 3em;
}

.welcome-text {
    font-size: 2em;
    /* background-color: rgba(219, 186, 243, 0.9); */
    padding: 1em 2em; /* Ajuste o padding para o cabeçalho */
}

.countdown-section {
    font-family: 'Gabriola', serif;
    background-color:transparent;
    padding: 20px;
    text-align: center;
}

.display-4 {
    font-size: 3em;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 1em;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.countdown div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: transparent; */
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.countdown-span {
    background-color: rgba(219, 186, 243, 0.9);
}

.countdown span {
    font-size: 2.5em;
    color: rgba(146, 159, 142, 1);
}

.confirmation-section {
    padding: 0.5em;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    max-width: none;
    margin: 0;
    font-size: 2em;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.confirmation-section label {
    display: block;
    margin: 10px 0 5px;
}

.nome-convidado {
    width: 100%;
}

.confirmation-section input,
.confirmation-section textarea {
    width: 100%;
    padding: 1em;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.confirmation-section select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.confirmation-section button {
    padding: 0.25em 0.75em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.75em;
    cursor: pointer;
    font-family: 'Gabriola';
    font-size: 1em;
}

.confirmation-section button:hover {
    background-color: #0056b3;
}

.lista-presentes {
    padding: 0.5em;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    max-width: none;
    margin: 0;
    font-size: 2em;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
.present-item {
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: inherit;
}
.present-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4
}



/* Fontes */
@font-face {
    font-family: 'Gabriola';
    src: url('/fonts/Gabriola.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Gabriola', serif;
    margin: 0;
    padding: 0 0 0 4.375rem;
    background: url(/images/fundo.jpeg) center / cover fixed;
    height: 100vh;
    position: relative;
}

h1, h2, h3 {
    font-family: 'Ephesis', cursive;
    font-weight: lighter;
}

/* Estilos de vídeo de fundo */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
}

/* Cabeçalho */
.custom-header {
    background-color: rgba(219, 186, 243, 0.9);
    padding: 0 1rem;
    width: 100%;
    z-index: 1030;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

/* Navbar */
.navbar, .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
}

.navbar-nav {
    gap: 1rem;
}

.navbar-nav .nav-item .nav-link {
    text-decoration: none;
    color: #000;
    font-family: 'Gabriola';
    font-size: 2rem;
    position: relative;
    display: inline-block;
}

.navbar-nav .nav-item .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0.5rem;
    width: 0;
    height: 0.125rem;
    background-color: #000;
    border-radius: 0.25rem;
    transition: width 0.25s ease;
}

.navbar-nav .nav-item .nav-link:hover::after {
    width: 100%;
}

/* Botões */
button, .form-control, .form-select {
    font-size: 2rem !important;
}

.botao-busca {
    padding-top: 3.5rem;
}

.botao-atualizar, .botao-cancelar, .botao-ok {
    width: 100%;
    max-width: 13rem;
    margin: 0.5rem 0;
}

/* Texto com sombra */
.texto-com-sombra {
    color: black;
    text-shadow: 2px 2px 4px white;
    font-size: 36px;
    text-align: center;
    margin: 50px;
}

/* Seções */
.hero-section, .countdown-section, .confirmation-section {
    text-align: center;
    padding: 2rem;
}

.hero-section h1 {
    font-size: 5rem;
    color: #000;
    padding: 0.15rem;
}

.hero-section img {
    max-height: 70vh;
    width: auto;
    object-fit: contain;
}

.welcome-text {
    font-family: 'Gabriola';
    font-size: 2rem;
    background-color: rgba(219, 186, 243, 0.9);
    padding: 1rem 2rem;
}

.display-3, .display-4 {
    font-size: 3rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.countdown {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
}

.countdown-item {
    text-align: center;
    flex: 1 1 auto;
    max-width: 12rem;
    min-width: 4rem;
}

.countdown-value {
    display: block;
    font-size: 5rem;
}

.countdown-label {
    font-size: 2.5rem;
}

.confirmation-section {
    background-color: rgba(219, 186, 243, 0.9);
    font-size: 2rem;
}

.confirmation-section h2 {
    color: #343a40;
    font-size: 3rem;
}

#status {
    color: #28a745;
}

#status.error {
    color: #dc3545;
}

/* Lista de Presentes */
.lista-presentes h2 {
    font-size: 3rem;
}

.lista-presentes p {
    font-size: 2rem;
}

.present-box {
    padding: 0.5rem;
}

.present-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
    background-color: rgba(219, 186, 243, 0.9);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    height: 21rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.present-item h6 {
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.present-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.present-item:hover h6 {
    color: green;
}

.preco {
    font-size: 1.5rem !important;
    color: red !important;
    font-weight: bold;
    text-align: start;
}

.present-img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.present-img img {
    max-width: 100%;
    height: 14rem;
    object-fit: contain;
}

.present-footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem;
}

/* Checkbox */
.checkbox-container input[type="checkbox"], .present-box input[type="checkbox"] {
    transform: scale(1.2);
    cursor: pointer;
}

.checkbox-container label, .present-box label {
    font-size: 14px;
    cursor: pointer;
    padding: 0.2rem;
}