@font-face {
    font-family: 'Gabriola';
    src: url('/fonts/Gabriola.woff2') format('woff2'),
         url('/fonts/Gabriola.woff') format('woff'),
         url('/fonts/Gabriola.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Gabriola', serif;
    margin: 0;
    padding: 0;
    padding-top: 4.375em; /* Compensa o espaço ocupado pelo header fixo */
    background-image: url(/images/fundo.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

h1, h2, h3 {
    font-family: 'Ephesis', cursive;
    font-weight: lighter;
}


.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    z-index: -1;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
}

.custom-header {
    background-color: rgba(219, 186, 243, 0.9);
    padding: 0 1em;
    width: 100%;
    max-width: 100%;
    z-index: 1030; /* Garante que está acima do conteúdo */
    position: fixed; /* Faz o header fixo no topo */
    top: 0;
    left: 0;
    box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1); /* Sombra opcional */
  }

.navbar {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente os itens do menu */
    width: 100%;
    margin: 0; /* Remove espaçamento extra */
}

.navbar-nav {
    display: flex;
    justify-content: center; /* Centraliza os itens no nav */
    gap: 1em; /* Espaçamento entre os itens */
}

.navbar-nav .nav-item .nav-link {
    text-decoration: none;
    color: #000;
    font-family: 'Gabriola';
    font-size: 2em;
    position: relative;
    display: inline-block;
}

.navbar-nav .nav-item .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0.5em;  /* Ajuste para o sublinhado não sobrepor o texto */
    width: 0%;      /* Inicialmente sem largura */
    height: 0.125em;
    background-color: #000;
    border-radius: 0.25em;
    transition: width 0.25s ease; /* Animação de crescimento do sublinhado */
}

.navbar-nav .nav-item .nav-link:hover::after {
    width: 100%;   /* Faz o sublinhado crescer até a largura total do item */
}

.navbar-toggler {
    border: none; /* Remove o contorno padrão */
}

.navbar-toggler:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Muda a cor de fundo ao passar o mouse */
}

.navbar-toggler:focus {
    outline: none; /* Remove o foco padrão */
}

.texto-com-sombra {
    color: black;
    text-shadow: 2px 2px 4px white;
    font-size: 36px;
    text-align: center;
    margin: 50px;
}

.hero-section {
    text-align: center; /* Centraliza todo o conteúdo */
    padding: 2em; /* Espaçamento interno */
}

/* Estilo para os títulos */
.hero-section h1 {    
    font-size: 5em;
    color: #000;
    padding: 0.15em; 
}

/* Estilo para a imagem */
.hero-section img {
    max-height: 100%; /* Limita a altura da imagem a 70% da altura da tela */
    width: auto; /* Preserva a proporção da imagem */
    object-fit: cover; /* Garante que a imagem seja completamente visível */
}

.display-3 {
    font-size: 3em;
    padding: 1em;
}

.welcome-text {
    font-family: 'Gabriola';
    font-size: 2em;
    background-color: rgba(219, 186, 243, 0.9);
    padding: 1em 2em;
}


/* Configuração da seção */
.countdown-section {
    font-family: 'Gabriola', serif;
    background-color: transparent;
    padding: 1.25em;
    text-align: center;
}

/* Título */
.display-4 {
    font-size: 3em;
    margin-bottom: 1em;
}

/* Layout do contador */
.countdown {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; /* Impede que os elementos quebem para a próxima linha */
    overflow: hidden; /* Evita quebra de layout */
}

/* Estilização dos itens */
.countdown-item {
    text-align: center;
    flex: 1 1 auto; /* Permite que os itens diminuam de tamanho conforme necessário */
    max-width: 12em; /* Limita o tamanho máximo */
    min-width: 4em; /* Tamanho mínimo para manter a legibilidade */
}

/* Números */
.countdown-value {
    display: block;
    font-size: 5em;
}

/* Rótulos */
.countdown-label {
    font-size: 2.5em;
}

.confirmation-section {
    background-color: rgba(219, 186, 243, 0.9);
    font-size: 1.5em;
}

.confirmation-section h2 {
    color: #343a40; /* Título mais escuro */
    font-size: 2em;
}

.div-botao-buscar {
    padding-top: 3.5em;
}

.busca-nome {
    padding-top: 1em;
}

.form-control{
    font-size: 1.5em ;
}

.form-label {
    font-size: 1.5em;
}

.form-select {
    font-size: 1.5em ;  
}

#status {
    color: #28a745; /* Verde para sucesso */
}

#status.error {
    color: #dc3545; /* Vermelho para erro */
}

.botao-busca-convidado {
    font-size: 1.5em;
}

.botao-busca {
    padding-top: 3.5em;
}

.botao-atualizar {
    width: 100%;
    max-width: 13em;
    margin: 0.5em 0;}

.botao-cancelar {
    width: 100%;
    max-width: 13em;
    margin: 0.5em 0;
}

.botao-ok {
    width: 100%;
    max-width: 13em;
    margin: 0.5em 0;
}


/* Estio lista de presentes*/
.lista-presentes h2{
    font-size: 3em;
}

.lista-presentes p{
    font-size: 2em;
}

.present-box {
    padding: 0.5em;
}

/* Estilo base do item */
.present-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
    background-color: rgba(219, 186, 243, 0.9);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 0.5em;
    height: 23em; /* Define uma altura mínima */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.present-item h6 {
    font-size: 1em;
    text-decoration: none;
    color: black;
}

/* Hover para destacar todo o bloco */
.present-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Hover no texto */
.present-item:hover h6 {
    color: green;
    text-decoration: none;
}

/* Preço destacado */
.preco {
    font-size: 1.5em !important;
    color: red !important;
    font-weight: bold;
    text-align: start;
}

/* Estilo do checkbox */
.checkbox-container input[type="checkbox"] {
    transform: scale(1.2);
    cursor: pointer;
}

.checkbox-container label {
    font-size: 14px;
    cursor: pointer;
}

.present-img {
    display: flex;
    justify-content: center; /* Alinha horizontalmente no topo */
    align-items: flex-start; /* Mantém a imagem no topo */
    height: 100%; /* Mantém o tamanho da div */
    width: 100%;
}

.present-img img {
    max-width: 100%; /* Garante que a imagem não ultrapasse o limite da div */
    height: 14em; /* Mantém a proporção */
    object-fit: contain; /* Ajusta a imagem dentro do espaço */  
}

/* Espaçamento entre os elementos do rodapé */
.present-footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em 0;
    padding: 0.2em;
}

.present-box input[type="checkbox"] {
    transform: scale(1.2); /* Aumenta o tamanho da checkbox */
    cursor: pointer; /* Altera o cursor para pointer */
}

.present-box label {
    font-size: 14px;
    cursor: pointer; /* Permite clicar no texto do label */
    padding: 0.2em;
}

/* Estilo base do checkbox */
.checkbox-container input[type="checkbox"] {
    appearance: none; /* emove o estilo padrão do navegador */
    width: 1em;
    height: 1em;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    position: relative;
    outline: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Quando o checkbox é marcado */
.checkbox-container input[type="checkbox"]:checked {
    background-color: green; /* Cor de fundo verde */
    border-color: green; /* Borda verde */
}

/* Adicionando um ícone de "check" personalizado */
.checkbox-container input[type="checkbox"]:checked::after {
    content: '✓'; /* Ícone de check */
    color: white;
    font-size: 0.8em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

#giftModal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
    height: 100vh;
    overflow: hidden;
}

#modalContent {
    background: rgba(219, 186, 243, 0.9);
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 90%;
    width: 700px;
    position: relative;
    display: block; /* Assegura que o conteúdo não seja escondido */
    opacity: 1; /* Garante visibilidade */
    z-index: 1051; /* Garante que o conteúdo fique acima do fundo */
}

.modal-content {
    margin: auto;
    max-width: 500px; /* Ajuste conforme necessário */
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px; /* Espaço entre os botões */
}


.gift-modal-button {
    width: 100%;
    max-width: 8em;
    margin: 0.5em 0;
    font-size: 2em;
}

#nameInputSection {
    font-family: 'Gabriola', serif;
    font-size: 2em;
}

.input-name {
    width: auto;
}

#thankYouMessage {
    font-family: 'Gabriola', serif;
    font-size: 2em;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gift-second-modal-button {
    width: 100%;
    max-width: 8em;
    margin: 0.5em 0;
    font-size: 1em;
}

.modal-p {
    font-size: 1em !important;
}

.gift-modal-button-close {
    display: none;
    width: 100%;
    max-width: 8em;
    margin: 0.5em 0;
    align-self: center;
    font-size: 1em;
}


.botao-mostrar-mais-presentes {
    width: 100%;
    max-width: 6em;
    margin: 0.5em 0;
    align-self: center;
    font-size: 2em;
}

/* Informações da festa */
.festa-section {
    background-color: none;
    padding: 60px 0;
}
.festa-section p {
    font-size: 2em;
}
.info-box {
    background-color: rgba(219, 186, 243, 0.9);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    height: 14em;
}

.info-text {
    font-size: 1.5em !important; /* Ou ajuste conforme necessário */
}

.info-box:hover {
    transform: scale(1.05);
}
.info-box i {
    color: #d63384;
}

/* Grid responsivo com 10 imagens por linha */
/* Container para o grid de fotos */
.fotos-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 fotos por linha */
    gap: 10px; /* Espaçamento entre as fotos */
    justify-items: stretch; /* As fotos irão ocupar toda a largura da célula */
    align-items: stretch; /* As fotos irão ocupar toda a altura da célula */
}

/* Estilo para cada item (foto) */
.foto-item {
    display: flex;
    justify-content: center; /* Centraliza a imagem dentro da célula */
    align-items: center; /* Centraliza a imagem verticalmente */
}

/* As imagens ocupam 100% do espaço da célula */
.foto-item img {
    width: 100%; /* Garante que a imagem ocupe toda a largura */
    height: 100%; /* Garante que a imagem ocupe toda a altura */
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
    border-radius: 5px; /* Exemplo de borda arredondada */
}

.foto-item:hover {
    transform: scale(1.1);
}

/* Ajusta o tamanho da imagem dentro do carrossel */
.carousel-item img {
    max-height: 70vh; /* 90% da altura da tela */
    width: auto; /* Mantém a proporção */
    margin: auto;
}

/* Ajusta os botões de navegação do carrossel */
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}


.modal-content {
    background: transparent; /* emove o fundo */
    border: none; /* emove as bordas */
    box-shadow: none; /* emove sombras */
}

.modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Garante que o conteúdo ocupe toda a tela */
}

.carousel-inner img {
    max-width: 90vw; /* Mantém a imagem responsiva */
    max-height: 90vh;
    object-fit: contain; /* Evita cortes */
}


/* Ajuste para telas menores (por exemplo, 5 fotos por linha) */
@media (max-width: 1200px) {
    .fotos-container {
        grid-template-columns: repeat(5, 1fr); /* 5 fotos por linha */
    }
}
   

/* Ajustes para telas pequenas */
@media (max-width: 576px) {
    .countdown {
        justify-content: start;
    }
    .countdown-item {
        max-width: 5em; /* Reduz o tamanho máximo dos itens */
    }
    .countdown-value {
        font-size: 3em; /* Diminui o tamanho dos números */
    }
    .countdown-label {
        font-size: 1.5em; /* Diminui o tamanho dos rótulos */
    }
    .confirmation-section {
        font-size: 1.5em;
    }
    .form-control{
        font-size: 1.5em !important;
    }
    
    .form-select {
        font-size: 1.5em !important;  
    }
    .div-botao-buscar {
        padding-top: 1em;
    }
    .botao-busca {
        padding-top: 0;
    }
    .botao-atualizar {
        width:100%;    
    }
    .input-name {
        width: 8em;
    }
    .preco {
        font-size: 1em !important;
        color: red !important;
        font-weight: bold;
        text-align: start;
    }

    .fotos-container {
        grid-template-columns: repeat(3, 1fr); /* 3 fotos por linha */
    }
}